{% extends 'boards/base.html' %}
{% load widget_tweaks %}

{% block title %} Start new topic {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.id %}">{{board.name}}</a></li>
    <li class="breadcrumb-item active">New Topic</li>
{% endblock %}


{% block content %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        
        {% include 'boards/includes/form.html' %}

        <input type="submit" value="submit" class="btn btn-success mt-2">
    </form> 

{% endblock %}